/* styles/Home.module.css */

.main {
  min-height: 100vh; /* Ensures the content takes at least the full viewport height */
  font-family: 'Manrope';
}

.text {
  display: flex;
  flex-direction: column;
  padding-right: 10%;
  align-items: center;
  padding-top: 7%;
}

.logo {
  position: absolute;
  padding-left: 53%;
  top: 37%;

}

.hello {
  color: #ffff;
  position: relative;
  left: -4%;
}

.title {
  color: #ffff;
  position: absolute;
  left: 37%;
  top: 68%;
}

.animation {
  
}

.projectsTitle {
  position: absolute;
  color: #ffff;
  left: 11%;
  top: 110%;

}

.projectsDisplay {
  position: absolute;
  display:flex;
  flex-direction: row;
  top: 120%;
  left: 11%;
  gap: 6%;
}