.nav {
    display: flex;
    justify-content:right;
    align-items: center;
    padding: 50px 400px; 
    background-color: #29292e; 
    gap: 30px;
    color: #ffff;
}

.nav a {
    font-family: 'Manrope';
    color: white; /* Set the text color to white */
    text-decoration: none; /* Remove the underline */
  }